

#index{
float:left;
min-height:100%
}
#info{
float:left;
}



body{
font-family:arial;
font-size: 0.8em;
padding-bottom:20px;
position:absolute;
white-space: pre-wrap;


}

table
{
width: 80%;
border-collapse:collapse;
padding-left:10px;
padding-bottom:10px;
margin-left:20px;
}

th, td
{
text-align:left;
border: 1px solid black;
min-width:150px;

}

th,td,tr{
padding-left:15px;
padding-right:5px;

}




th{
  background-color:lightgrey;
}

h4{
}
 h5{
padding:0px;
font-weight:bold;
}
.shortHead{

width:15%;
}

.mono{
font-family:Courier, monospace;
}

.repHead, .tabbed{
margin-left:20px;

}

.filled{
margin-left:20px;

font-family:Courier, monospace;
padding-top:10px;
padding-bottom:10px;
// font-weight:bold;
padding-left:5px;
background-color:lightgrey;
min-width:80%;
}
